.Banner{
    display: flex;
    height: auto;
    margin: auto;
}
.Banner img{
    width: 400px;
}

@media screen and (min-width: 1024px){
    .Banner{
        display: flex;
        height: auto;
        justify-content: center;
    }
    .Banner img{
        width: 700px;
    }
}