.Competition{
    background-color: #2d5970;
    color: white;
    text-align: center;
    justify-content: center!important;
}
.Competition h1{
    padding-top: 20px;
    font-size: 35px;
}
.Competition .Welcome{
    display: none;
}
.Competition .Underline{
    color: #ffffff;
    width: 50%;
    border-bottom: 2px solid white;
    display: inline-block;
}
.Competition p{
    margin: 1rem auto;
    padding: 15px;
    text-align: left;
}
.Competition .Services {
    text-align: left;
    list-style: inside;
    display: inline-block;
    padding: 0px;
}
.Competition img{
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}
.Competition .Col{
    margin: 2rem 0;
}
.Competition h5{
    margin-top: 1rem;
}
@media screen and (min-width: 768px){
    .Competition p{
        max-width: 500px;
    }
    .Competition .Underline{
        color: #ffffff;
        width: 25%;
        border-bottom: 2px solid white;
        display: inline-block;
    }
    .Competition .Welcome{
        display: inline-block;
    }
    .Competition .Underline{
        color: #ffffff;
        width: 50%;
        border-bottom: 2px solid white;
        display: inline-block;
    }
}
@media screen and (min-width: 1200px){
    .Competition .About {
        margin-top: 8rem;
    }
}
@media screen and (min-width: 1824px){
    .Competition .Welcome{
        display: inline-block;
    }
    .Competition .Underline{
        color: #ffffff;
        width: 50%;
        border-bottom: 2px solid white;
        display: inline-block;
    }
}