.Competition{
    background-color: #2d5970;
    color: white;
    text-align: center;
}
.Competition h1{
    padding-top: 20px;
    font-size: 35px;
}
.Competition .Underline{
    color: #ffffff;
    width: 50%;
    border-bottom: 2px solid white;
    display: inline-block;
}
.Competition p{
    margin: 1rem auto;
    padding: 15px;
    text-align: left;
}
.Competition .Services {
    text-align: left;
    list-style: inside;
    display: inline-block;
    padding: 0px;
}
.Competition img{
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}
.Competition .Col{
    margin-top: 2rem;
}
.Competition h5{
    margin-top: 1rem;
}
@media screen and (min-width: 768px){
    .Competition p{
        max-width: 500px;
    }
}