*{
    padding: 0px;
    margin: 0px;
}
.NavBar{
    background-color: #2d5970;
    width: 100%;
    display: block;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 4;
}
.Mobile{
    display: inline-block;
}
.DesktopOnly{
    display: none;
}
@media screen and (min-width: 1050px){
    .NavBar{
        position: static;
    }
    .DesktopOnly{
        display: block;
    }
    .Mobile{
        display: none;
    }
}