*{
    padding: 0px;
    margin: 0px;
}

.NavBar{
    background-color: #2d5970;
    width: 100%;
    display: block;
    position: sticky;
    top: 0;
}
.Mobile{
    display: inline-block;
}
.DesktopOnly{
    display: none;
}
@media screen and (min-width: 500px){
    .NavBar{
        position: static;
        top: 0;
    }
    .DesktopOnly{
        display: block;
    }
    .Mobile{
        display: none;
    }
}